/* archivo style.css */

/* Estilo para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6; /* Color mármol claro */
    color: #000000; /* Texto negro */
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    background-image: url('./images/encabezado.png'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #f9f9f9; /* Texto blanco */
    text-align: center;
    padding: 50px 0;
    border-bottom: 5px solid #c1a461; /* Línea dorada */
}

header h1 {
    margin: 0;
    font-size: 3em;
    text-shadow: 2px 2px #000000; /* Sombra en el texto */
}

/* Estilo para la navegación */
.nav-images {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    background-color: #2c3e50; /* Azul marino */
    padding: 10px;
    border-radius: 10px;
}

.nav-images img {
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease; /* Efecto de transición suave */
}

.nav-images img:hover {
    transform: scale(1.1); /* Efecto de aumento al pasar el ratón */
}

/* Estilo para las secciones */
section {
    margin: 40px 20px;
    padding: 20px;
    background-color: #ecf0f1; /* Fondo blanco grisáceo */
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para efecto de profundidad */
}

/* Estilo para la línea de tiempo */
.timeline {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.timeline-item {
    background: #ffffff; /* Blanco */
    color: #2c3e50; /* Texto azul marino */
    padding: 10px;
    border-left: 5px solid #e74c3c; /* Línea roja */
    margin-bottom: 10px;
    border-radius: 5px;
}

.timeline-item h3 {
    margin: 0;
    font-size: 1.2em;
}

section h2 {
    color: #c1a461; /* Dorado */
    text-shadow: 1px 1px #000000; /* Sombra en los encabezados */
}

iframe {
    border: none;
    border-radius: 10px;
}

/* Estilo para el pie de página */
footer {
    background-color: #2c3e50; /* Azul marino */
    color: #c1a461; /* Texto dorado */
    text-align: center;
    padding: 20px;
    /* Remove position fixed */
    /* position: fixed; */
    /* width: 100%; */
    /* bottom: 0; */
}
